[Server]
IP=192.168.7.254
Port=8440
HBPort=4575

[Client]
IDPrefix=WLClient_
StartIP=6.6.6.6
StartNum=200
Count=300

[Heartbeat]
Interval=30000
TotalMinutes=60

[Log]
ClientCount=300
EachClientTotalItems=1000
EachClientPerSecondItems=1
SelectedTypes=2
